<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="spPerfMon" type="Qdabra.Utility.SharePointPerfMon.Configuration.SpPerfMonSection, SpPerfMon" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- The SharePoint username and password that will be used to access SharePoint -->
    <add key="username" value=""/>
    <add key="password" value=""/>

    <!-- The frequency at which requests are made to each endpoint. Defaults to 20 seconds. -->
    <add key="intervalSeconds" value="20"/>
    
    <!-- E-mail addressed to which alerts should be sent.
         Should be one or more e-mail addresses separated by commas:  user@domain.com,user2@domain.com -->
    <add key="notificationRecipients" value=""/>

    <!-- Set expected limits here. A notification will be sent if two limit violations occur within five minutes.

         maxResponseSeconds is the maximum time for the monitoring tool to complete a request to SharePoint
         maxRequestDurationMilliseconds is the maximum SPRequestDuration value, as reported by SharePoint
    -->
    <add key="maxResponseSeconds" value="10"/>
    <add key="maxRequestDurationMilliseconds" value="5000"/>
    <add key="maxSharePointHealth" value="6"/>
  </appSettings>
  <spPerfMon>
    <endpoints>
      <!-- Specify target SharePoint endpoints here.
           It is advised that you monitor one Main url (one of your main SharePoint sites) and one URL for an empty site on an empty site collection 

           You can add <endpoint> elements as needed.
           The name= elements should have distinct values, and contain only letters, numbers, and spaces.
      -->
      <endpoint name="Main"  url="https://mycompany.sharepoint.com/" />
      <endpoint name="Empty" url="https://mycompany.sharepoint.com/sites/Empty/" />
    </endpoints>
  </spPerfMon>
  <system.net>
    <mailSettings>
      <!-- Specify SMTP settings for alerts below:
           from indicates the From: address for notifications
           host, password, and userName should be the host, password, and username for your SMTP service
           if a nonstandard port number is needed, this can be indicated in a port attribute on the <network> element:  port="12345" -->
      <smtp from="">
        <network host="" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
